<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VERSUS</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/versus.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/temp.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/versus.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div id="body-content">

        @* Primary announcements row *@
        <div id="announcements-primary" class="row">
            <div class="column">
                @(await Component.InvokeAsync<AnnouncementViewComponent>(AnnouncementLocationEnum.Top))
                @(await Component.InvokeAsync<CookieConsentViewComponent>())
            </div>
        </div>

        @* Main content row *@
        <div id="main-content" class="row">
            @(await Component.InvokeAsync<SidebarViewComponent>())
            @RenderBody()
        </div>

        @* Secondary announcements row *@
        <div id="announcements-secondary" class="row">
            <div class="column">
                @(await Component.InvokeAsync<AnnouncementViewComponent>(AnnouncementLocationEnum.Bottom))
            </div>
        </div>
    </div>

    @* Leave these scripts at the end to not block the response *@
    <environment include="Development">
        @* versus.js already includes all libraries *@
        <script src="~/js/versus.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/versus.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    @Html.ReactInitJavaScript()
</body>
</html>