<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VERSUS</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/versus.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/versus.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div id="bodyContent">

        @* Primary announcements row *@
        <div id="announcementsPrimary" class="row">
            <div class="column">
                @(await Component.InvokeAsync<AnnouncementComponent>(AnnouncementLocationEnum.Top))
                @(await Component.InvokeAsync<CookieConsentComponent>())
            </div>
        </div>

        @* Main content row *@
        <div id="mainContent" class="row">
            @(await Component.InvokeAsync<SidebarComponent>())
            <div class="column" id="scrollSection">
                @RenderBody()
            </div>
        </div>

        @* Secondary announcements row *@
        <div id="announcementsSecondary" class="row">
            <div class="column">
                @(await Component.InvokeAsync<AnnouncementComponent>(AnnouncementLocationEnum.Bottom))
            </div>
        </div>
    </div>

    @* Leave these scripts at the end to not block the response *@
    <environment include="Development">
        @* versus.js already includes all libraries *@
        <script src="~/components/versus.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/components/versus.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    @Html.ReactInitJavaScript()
</body>
</html>